<h1><%= @blogger.name %></h1>
<div>Likes: <%= @blogger.total_likes %></div>
<div>Featured Post: <%= link_to(@most_liked_post.title, @most_liked_post)%></div>
<h2>Top 5 destinations:</h2>
<ul>
  <% @blogger.top_5_destinations.each do |destination|%>
  <li><%= link_to(destination.name, destination) %></li>
  <% end %>
</ul>
